In [19]:
import pandas as pd
import numpy as np

In [20]:
book_tags = pd.read_csv("book_tags.csv")
books = pd.read_csv("books.csv")
ratings = pd.read_csv("ratings.csv")

In [21]:
book_tags.head()

   goodreads_book_id  tag_id  count
0                275   30574  17593
1                275   11743    656
2                275    8717    503
3                275   11557    383
4                275   12553    330

In [22]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,11,77203,77203,3295919,283,1594480001,9.781594e+12,Khaled Hosseini,2003.0,The Kite Runner,...,1878095,59730,34288,59980,226062,628174,929591,https://images.gr-assets.com/books/1484565687m...,https://images.gr-assets.com/books/1484565687s...,0
1,33,930,929,1558965,220,739326228,9.780739e+12,Arthur Golden,1997.0,Memoirs of a Geisha,...,1418172,25605,23500,59033,258700,517157,559782,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0
2,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006.0,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0
3,45,4214,4214,1392700,264,770430074,9.780770e+12,Yann Martel,2001.0,Life of Pi,...,1077431,42962,39768,74331,218702,384164,360466,https://images.gr-assets.com/books/1320562005m...,https://images.gr-assets.com/books/1320562005s...,0
4,67,128029,128029,3271379,197,1594489505,9.781594e+12,Khaled Hosseini,2007.0,A Thousand Splendid Suns,...,866065,43645,6509,18015,99030,295817,446694,https://images.gr-assets.com/books/1345958969m...,https://images.gr-assets.com/books/1345958969s...,0

In [23]:
ratings.head()

   user_id  book_id  rating
0        2       33       4
1        4       45       4
2        6     6351       4
3        1     2738       3
4        4       33       3

1) How many books do not have an original title?

In [24]:
na_df = books[books.original_title.isna()]
na_df.shape[0]

10

2) How many unique tags are there in the dataset?

In [25]:
len(pd.unique(book_tags.tag_id))

3890

3) Which book(s) has the least number of count of tags given by the user ie. the book with minimum user records including all tags?

In [26]:
book_tags.rename(columns = {'count':'tag_counters'}, inplace = True)

In [28]:
book_tags[book_tags.tag_counters == min(book_tags.tag_counters)]

       goodreads_book_id  tag_id  tag_counters
9942               46913   20824             1
9943               46913   27535             1
9944               46913   21274             1
9945               46913   22344             1
9946               46913   25171             1
...                  ...     ...           ...
27295           10374638   25268             1
27296           10374638    5487             1
27297           10374638     793             1
27298           10374638   22341             1
27299           10374638   32025             1

[84 rows x 3 columns]

4) Which book (original_title) has the minimum (average_rating)

In [32]:
min_avg_book = books[books.average_rating == min(books.average_rating)]
min_avg_book

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
54,1793,105578,105578,101770,25,345498321,9.780345e+12,Chetan Bhagat,2005.0,One Night @ The Call Center,...,44833,1244,10559,14125,11872,5177,3100,https://images.gr-assets.com/books/1320500924m...,https://images.gr-assets.com/books/1320500924s...,0

In [33]:
min_avg_book.original_title

54    One Night @ The Call Center
Name: original_title, dtype: object

5) Which book (original_title) has the maximum number of ratings based on (work_ratings_count)

In [35]:
max_work_rating_book = books[books.work_ratings_count == max(books.work_ratings_count)]
max_work_rating_book

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,11,77203,77203,3295919,283,1594480001,9.781594e+12,Khaled Hosseini,2003.0,The Kite Runner,...,1878095,59730,34288,59980,226062,628174,929591,https://images.gr-assets.com/books/1484565687m...,https://images.gr-assets.com/books/1484565687s...,0

In [36]:
max_work_rating_book.original_title

0    The Kite Runner
Name: original_title, dtype: object

6) How many unique books are present in the dataset ? Evaluate based on the 'book_id'?

In [37]:
len(pd.unique(books.book_id))

313

7) Which book (original_title) has the most number of counts of tags given by the user ie. the book with maximum user records including all tags?

In [44]:
max_tag_book_id = int(book_tags[book_tags.tag_counters == max(book_tags.tag_counters)].goodreads_book_id)
books[books.goodreads_book_id == max_tag_book_id].original_title

1    Memoirs of a Geisha
Name: original_title, dtype: object

8) Which (tag_id) is the most frequently used ie. mapped with the highest number of books? (In case of more than one tag, mention the tag id with the least numerical value)

In [53]:
book_tag_dict = dict(book_tags.tag_id.value_counts())
highest_num_tags = [i for i in book_tag_dict if book_tag_dict[i] == max(book_tag_dict.values())]
min(highest_num_tags)

3216

9) How many unique users are present in the dataset 'ratings.csv]'?

In [54]:
len(pd.unique(ratings.user_id))

41883

10) Predict sentiment using Textblob. How many non-negative titles (title) are there 'books.csv'?

In [55]:
from textblob import TextBlob
pos,neg = 0, 0
for i in books.original_title:
  if type(i)==str:
    polarity = TextBlob(i).sentiment.polarity
    if polarity>=0:
      pos+=1
print(pos)

278